@font-face {
	font-family: "SpaceMonoBold";
	src: url('./assets/fonts/SpaceMono-Bold.ttf');
	font-display: block;
}
@font-face {
	font-family: "SpaceMonoBoldItalic";
	src: url('./assets/fonts/SpaceMono-BoldItalic.ttf');
	font-display: block;
}
@font-face {
	font-family: "SpaceMonoReg";
	src: url('./assets/fonts/SpaceMono-Regular.ttf');
	font-display: block;
}

.footer-container{
    // position: absolute;
    // bottom: 20px;
    // left: 120px;
    // display: flex;
    // column-gap: 5px;
    // align-items: center;
    // a{
    //     font-family: "SpaceMonoReg";
    //     color: #cbcbcb;
    //     font-size: 0.8vw;
    // }

    // .sep{
    //     width: 1px;
    //     height: 1vw;
    //     background-color: #cbcbcb;
    // }

    position: fixed;
    bottom: 0;
    left: 90px;
    height: 0px;
    width: 100%;
    background-color: #222;
    padding-top: 0px;
    animation: down 1.2s ease-in-out 1;
}

@keyframes down {
    0%  {
        padding-top: 100vh;
    };
    100%  {
        padding-top: 0vh;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .footer-container{
        position: fixed;
        top: 0;
        left: 90px;
        height: 0px;
        width: 100%;
        background-color: #222;
        padding-top: 0px;
        animation: down 1.2s ease-in-out 1;
    }
}

/* Extra large screens */
@media only screen and (min-width: 1440px) and (max-width: 2559px) {
    .footer-container{
        // left: 8.021vw;
    }   

}